__pycache__/
.idea/
models/
onnx/
outputs/
wrangling/
venv/
.git/
.gitignore
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
.vscode/
*.ipynb_checkpoints/
wandb/
.DS_Store
