torch
torchvision
timm
numpy
pandas
Pillow
scikit-learn
matplotlib
seaborn
scipy
tqdm
iterative-stratification
wandb
weave
jupyter
ipywidgets
gradio
opencv-python
torch-tensorrt
nvidia-modelopt
nvidia-tensorrt